body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-grow: 1;
}

.menu {
    background: #6552b8;
    color: #fff;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.textbox-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.textbox {
    display: flex;
    align-items: center;
}

#texto {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#enviar {
    padding: 10px;
    font-size: 16px;
}

#enviarUrl {
    margin-left: 10px;
}

.chat-container {
    width: 300px; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word; /* Adicione esta linha para quebrar palavras */
}
